{{> head }}

<body>

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>{{ capitalize 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum voluptatum in voluptate animi nisi ab
                vitaesit. Quis, culpa.
                Eos assumenda reiciendis praesentium reprehenderit! In, illo consectetur? Optio, id ipsum?' }}</p>
        </div>
    </div>

    <div class="col-4">
        <img src="assets/images/image.jpg" class="img-thumbnail">
    </div>

    {{> footer }}

    {{> scripts }}

</body>

</html>